Kepada Yth.

Rekanan Owlexa Healthcare


Bersama  ini kami sampaikan, ASO Fund telah mencapai batas minimum untuk data berikut:

Group Code    : ${groupCode}  
Group Name   : ${groupName} 
Polis No.         : ${policyNumber}  
 
Mohon segera memberikan konfirmasi penambahan ASO Fund agar penjaminan dan pembayaran klaim dapat dilakukan sebagaimana mestinya.

Penjaminan dan pembayaran klaim akan terblokir secara otomatis apabila ASO Fund telah mencapai batas pemblokiran (limit block) yang telah ditentukan
dan akan kembali normal apabila konfirmasi penambahan ASO Fund telah diterima dan selesai diproses oleh bagian Finance Owlexa.

Demikian kami sampaikan dan atas kerjasamanya selama ini kami ucapkan terima kasih.



Hormat kami,

Owlexa Healthcare