Kepada Yth.

Rekanan Owlexa Healthcare



Bersama  ini kami sampaikan, Excess Deposit telah mencapai batas minimum untuk data berikut:

Group Code    : ${groupCode}  
Group Name   : ${groupName} 
Polis No.         : ${policyNumber}  

Mohon segera memberikan konfirmasi penambahan Excess Deposit agar penalangan ekses klaim dapat dilakukan sebagaimana mestinya.

Penalangan ekses klaim pada Excess Deposit akan terblokir secara otomatis apabila Excess Deposit telah mencapai batas pemblokiran (limit block) 
yang telah ditentukan dan akan kembali normal apabila konfirmasi penambahan Excess Deposit telah diterima dan selesai diproses oleh bagian Finance Owlexa.



Demikian kami sampaikan dan atas kerjasamanya selama ini kami ucapkan terima kasih.



Hormat kami,

Owlexa Healthcare