Kepada Yth.

Rekanan Owlexa Healthcare


Bersama  ini kami sampaikan, Excess Deposit telah mencapai batas pemblokiran (limit block) untuk data berikut:

Group Code    : ${groupCode}  
Group Name   : ${groupName} 
Polis No.         : ${policyNumber}  

Dengan demikian penalangan ekses klaim pada Excess Deposit tidak dapat dilakukan sebagaimana mestinya hingga konfirmasi penambahan
Excess Deposit telah diterima dan selesai diproses oleh bagian Finance Owlexa.

Demikian kami sampaikan dan atas kerjasamanya selama ini kami ucapkan terima kasih.


Hormat kami,

Owlexa Healthcare